:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --font-primary: 'Roboto', sans-serif;
    --transition-base: all 0.3s ease;
}
body {
    font-family: var(--font-primary);
}

/*Aqui se hacer el header*/
/*Aqui se hacer el hero*/
/*Aqui se hacer el content*/
/*Aqui se hacer el footer*/